<ion-content class="bg">
  <h2>Elige una forma de pago</h2>
    <ion-row class="row-cards">
      <ion-col>
        <div class="card gradient-1 ion-padding">
          <div class="card-number">4213 5451 1470 5523</div>
          <div class="card-holder">Angel Cardenas</div>
          <div class="card-person-name">09/22</div>

          <img src="https://lh3.googleusercontent.com/proxy/UG41E3LvMkLFCsSl1HzHmlj3YTuve9HcHzVIFBrtkRXU2yHxdo2SVoDsxrvTY6FbgE-ZCCabV7h61t4XokDlqZwYj63s5R1FMs5BvU1xR4JF6MgtkSkICMpsTGUnsCaLaKjbKJkaGw" class="visa-logo">
        </div>
      </ion-col>
    </ion-row>
</ion-content>